<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NM 게시판 </title>
  
</head>	

<body>

	<h1>메인 로그인<h1>
    <form action="login" method="post">

    <table border='1'>
      <tr>
        <th>ID(이메일)</th>
        <td>
<!--           <input name='id' type='id' size='30' th:value="${id}"></td> -->
          <input name='id' type='text' size='30' ></td>
      </tr>
      <tr>
        <th>Password</th><td><input name='password' type='password' size='20'></td>
      </tr>
    </table>
    <p>
      <button type='submit'>로그인</button>
    </p>
    </form>

</body>
</html>
