<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NM 게시판</title>

</head>

<body>

	<form action="save" method="post">
		<h1>회원가입</h1>
		<table>
			<tr>
				<th>userId</th>
				<td><input type="text" name="id" id="id" placeholder="사용자 아이디"></td>
			</tr>
			<tr>
				<th>userName</th>
				<td><input type="text" name="name" id="name" placeholder="사용자 이름"></td>
			</tr>
			<tr>
				<th>password</th>
				<td><input type="text" name="password" id="password" placeholder="사용자 비밀번호"></td>
			</tr>


		</table>
		<button>가입 완료</button>
	</form>

</body>
</html>
