<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
<title>NM 게시판</title>

<style>
  table, th, td {
  border: 1px solid;
  }
  </style>
  
</head>	

<body>

	<form id="detail">
		<table>
			<tr>
				<th>번호</th>
				<td><input type="text" name="no" th:value="${detailBoard.no}" readonly></td>
			</tr>
			<tr>
				<th>제목</th>
				<td><input type="text" name="title" th:value="${detailBoard.title}" id="title"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea name="content" cols="30" rows="5" th:text="${detailBoard.content}" id="content"></textarea></td>
			</tr>
			<tr>
				<th>첨부파일</th>
				<td>
					<ul>
						<li th:each="file : ${detailBoard.attachedFiles}">
							<a th:href="@{/board/files/{path}(path=${file.filepath})}" th:text="${file.filepath}"></a>
							[[<a th:href="@{filedelete(no=${file.attachedFileNo})}">파일삭제</a>]]
						</li>
					</ul>
					[파일 추가]: <input name='files' type="file" multiple>
				</td>
			</tr>
			<!-- 로그인한 유저(detailBoard.userNo) == 작성자(detailBoard.writer.userNo) 일치 여부 확인 -->
			<input type="hidden" name="userNo" th:value="${detailBoard.writer.userNo}">
			<input type="hidden" name="userNo" th:value="${detailBoard.userNo}">
		</table>
		<button type="button" onclick="update(this.form)">수정</button>
		<button type="button" th:onclick="'deleteBoard(' + ${detailBoard.no} + ');'">삭제</button>
		<button type="button" th:onclick="location.href='/board/boardlist'">목록</button>
	</form>
	

</body>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
function update(form) {
	
	// Current request is not a multipart request 에러가 발생
	// 	let updateBoard = $("#detail").serialize();
	
	// Current request is not a multipart request 에러가 발생 해결책
	// => FormData 인터페이스 :  form 필드와 그 값을 나타내는 데이터로 이루어져 있다
	// =>  new FormData(form) : 인코딩 타입이 "multipart/form-data"으로 설정되어 form(html 태그)에서 사용하는 것과 동일한 포맷을 사용하게 된다
	let updateBoard = new FormData(form);
	
	let result = confirm('글을 수정하시겠습니까?');

	let titleCheck =  document.getElementById('title').value;
	let contentCheck =  document.getElementById('content').value;
	
	if(result == true) {
		
		if(titleCheck == "") {
			alert("제목 입력 필수");
			return false;
		}
		if(contentCheck == "") {
			alert("내용 입력 필수");
			return false;
		}
		
		$.ajax({
			type : "post",
			enctype: 'multipart/form-data',
			url : "update",
			data : updateBoard,
			dataType : "text",
			processData: false,
			contentType: false,
			success : function(data) {
				
				let updateBoard = JSON.parse(data);
				
				if(updateBoard.status > 0) {
					
					alert('글 수정 성공');
	 				window.location.href = "/board/detail?no=" + updateBoard.boardNo;
				} 
				
			},
			error: function(xhr) {
				
				if (xhr.status === 401) {
					alert("인증된 사용자가 아닙니다");
				} else if (xhr.status === 403) {
					alert("접근 권한이 없습니다");
				} else if (xhr.status === 404) {
					alert("요청한 페이지를 찾을 수 없습니다");
				} else {
					alert("서버 에러 발생");
				}
			}
		}); // ajax
		
	} else {
		
		alert('글 수정 취소');
	}
}

function deleteBoard(no) {
	
	let deleteBoard = $("#detail").serialize();
	
	let result = confirm('글을 삭제 하시겠습니까?');
	
	if(result == true) {
		
		$.ajax({
			type : "post",
			url : "delete",
			data : deleteBoard,
			dataType : "text",
			success : function(data) {
				
				let deleteBoard = JSON.parse(data);
				
				if(deleteBoard.status > 0) {
					
					alert('글 삭제 성공');
	 				window.location.href = "/board/boardlist";
				}
				
			},
			error: function(xhr) {
				
				if (xhr.status === 401) {
					alert("인증된 사용자가 아닙니다");
				} else if (xhr.status === 403) {
					alert("접근 권한이 없습니다");
				} else if (xhr.status === 404) {
					alert("요청한 페이지를 찾을 수 없습니다");
				} else {
					alert("서버 에러 발생");
				}
				
			}
		}); // ajax
		
	} else {
		alert('글 삭제 취소');
	}
	
 }


// 	let error = /*[[${error}]]*/null;
// 	if (error != null) {
// 		alert(error);
// 	}
</script>
</html>