<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NM 게시판</title>

<style>
table, th, td {
	border: 1px solid;
}
</style>
</head>

<body>

	<form id="insertForm" enctype="multipart/form-data">
		<table>
			<tr>
				<th>제목</th>
				<td><input type="text" name="title" id="title"></td>
			</tr>
			<tr>
				<th>내용</th>
				<td><textarea name="content" id="content" cols="30" rows="5"></textarea></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td><span sec:authentication="name"></td>
			</tr>
			 <tr>
          <th>첨부파일</th><td><input name='files' type="file" multiple></td>
       </tr>

		</table>
		<input type="button" value="글쓰기" onclick="insertBoard()">
		<input type="button" value="다시쓰기" onclick="reset()">
		<a href="/board/boardlist"><input type="button" value="취소"></a>
	</form>
	

</body>


<script>
function insertBoard() {
	
	let result = confirm('글을 등록하시겠습니까?');
	
	let titleCheck =  document.getElementById('title').value;
	let contentCheck =  document.getElementById('content').value;
	
	if (result == true) {
		
		if(titleCheck == "") {
			alert("제목 입력 필수");
			return false;
		}
		if(contentCheck == "") {
			alert("내용 입력 필수");
			return false;
		}
		
		let insertBoard = document.getElementById("insertForm");
		
		insertBoard.action ="insertboard";
		insertBoard.method = "post";
		insertBoard.submit();
		
		alert('글 등록 성공');
	}
}

</script>

</html>
