<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NM 게시판 </title>
  
  <style>
  table, th, td {
  border: 1px solid;
  }
  </style>
  
</head>	

<a sec:authorize="hasRole('USER')" th:href='form' >글쓰기</a>
<a th:href="@{/main}">메인 이동</a>

  <!--/* 검색 */-->
 <form action="/board/boardlist" method="get">
    <input type="text" name="keyword" placeholder="검색어를 입력해주세요" th:value="${keyword}">
    <button type="submit">검색</button>
</form>
      
 <table>
    <tr>
      <th>번호</th>
      <th>제목</th>
	    <th>내용</th>
	    <th>작성자</th>
    </tr>
    
	<tbody id="list">
    <tr th:if="${not #lists.isEmpty( boardList )}" th:each="board : ${boardList}">
     	<td th:text="${board.no}">번호</td>
	    <td><a th:href="@{/board/detailboard(no=${board.no})}" th:text="${board.title}"></a></td>
	    <td th:text="${board.content}">내용</td>
	    <td th:text="${board.writer.name}">작성자</td>
  </tr>
		<tr th:unless="${not #lists.isEmpty( boardList )}">
			<td colspan="5">조회된 결과가 없습니다.</td>
		</tr>
	</tbody>
 </table>

<!-- 페이징 -->
<div id="pagination">
<!--     맨 처음 페이지로 이동하는 버튼 -->
    <a th:href="@{/board/boardlist(page=1)}" th:value="[처음]">[처음]</a>
<!--     <a th:href="@{/board/boardlist(page=1, keyword=${keyword})}" th:value="[처음]">[처음]</a> -->

<!--     이전 블록으로 이동하는 버튼 -->
	<span th:if="${pagination.existPrevPage == true}">
        <a th:href="@{/board/boardlist(page=${cri.page - 1}, keyword=${keyword})}" th:value="[이전]">[이전]</a>
    </span>

<!--     시퀀스 보여주는 값을 변경. -->
    <span th:each="pageNum : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
        <a class="div2" th:href="@{/board/boardlist(page=${pageNum}, keyword=${keyword})}" th:text="${pageNum}"></a>
    </span>

<!--     다음 블록으로 이동하는 버튼 -->
    <span th:if="${pagination.existNextPage == true}">
        <a th:href="@{/board/boardlist(page=${pagination.endPage + 1}, keyword=${keyword})}" th:text="[다음]">[다음]</a>
    </span>

<!--     맨 뒷 페이지로 이동하는 버튼 -->
    <span th:if="${pagination.endPage < pagination.totalPageCount}">
        <a th:href="@{/board/boardlist(page=${pagination.totalPageCount}, keyword=${keyword})}" th:text="[끝]">[끝]</a>
    </span>
</div>
	  
 
<body>

</html>